*{
    margin: 0%;
    padding: 0%;
    border: 0
}
body{font-size: 100%}
.glavniSadrzaj{
    margin: auto;
    width: 85%;
    height: 30em;
    background-color: rgb(16, 180, 167)
}
@media screen and (max-width: 600px){
    
    .glavniSadrzaj{
    width: 100%;
    height: 30em;
    background-color: rgb(16, 180, 167)
    }
}
p[id="naziv"]{font-size: 20px; text-align: center}
#okvir{background-color: rgb(238, 234, 175)}
button{float: right; width: 25%}
select{width: 10em}
form[id="noviZadatak"]{
    width: 50%;
    height: 20em;
    padding-left: 5em;
    position: relative ;
    margin: auto;
    top: 8%;
    text-align: left;
    background-color: rgb(33, 124, 177);
    box-shadow: 10px 5px 5px black;
    padding-right: 4em
}
#naslov{text-align: center; padding-right: 5em}
