body {background: #0F3CF3}
#login {
    margin: auto;
    padding: 70px 0;
    width: 40%;
    background:lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="text"], input[type="password"]{
	     float: right;
             position: relative;
             display: block;
        }
form {
    text-align:center;
    margin-left: 29%;
    margin-right:29%;
    
}